<style>
 input {
	width: 35px !important;
	text-align: center !important;
 }

 .todo-item:hover {
 	cursor: pointer;
 }
</style>

<div class="container">
    <h4 class="light" style="padding:20px;">Update Matrix</h4>
    <div class='row' id="toolbar">
        
    </div>
    
    <div class='row card z-depth-3' style='overflow: auto !important;'>          
        <table class="bordered striped centered responsive-table">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Sat/Sun</th>
                    <th>Person</th>
                </tr>
            </thead>
            <tbody>
                {{#each row}}
                <tr>
                    <td>{{this.Pos}}</td>
                    <td class="list-group-item todo-item"><span>{{this.Mon}}</span><input type="text" class="edit" style="display: none;"></td>
                    <td class="list-group-item todo-item"><span>{{this.Tues}}</span><input type="text" class="edit" style="display: none;" size='5'></td>
                    <td class="list-group-item todo-item"><span>{{this.Wed}}</span><input type="text" class="edit" style="display: none;" size='5'></td>
                    <td class="list-group-item todo-item"><span>{{this.Thur}}</span><input type="text" class="edit" style="display: none;" size='5'></td>
                    <td class="list-group-item todo-item"><span>{{this.Fri}}</span><input type="text" class="edit" style="display: none;" size='5'></td>
                    <td class="list-group-item todo-item"><span>{{this.SatSun}}</span><input type="text" class="edit" style="display: none;" size='5'></td>
                    <td>{{User.first_name}}</td>
                </tr>
                {{/each}}  
            </tbody>
        </table>
    </div>
</div>

<script src="/js/view.js" type="text/javascript"></script>